/* navbar */
nav {
    background-color: var(--bg-transparent); /* Ensuring we use the transparent variable */
    position: sticky;
    top: 0; /* This is needed to stick to the top */
    z-index: 1000; /* High z-index to ensure the navbar is above other content */
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    margin: 0 2vw;
}
  
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar-left > * + * {
    margin: 0 2vw;
}
  
.navbar-left img {
    height: 2.5vh;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 0.5vh;
}
  
.navbar-left a {
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
}
  
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar-right a {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
    color: var(--default);
    padding: 0 1rem;
}
  
.nav-list {
    padding: 0 20px;
}

.menu-icon {
    display: none; 
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: absolute;
    right: 24px;
    top: 48px;
    background-color: white; /* adjust as per your color scheme */
    border: 1px solid #E4E5EE;
    border-radius: 12px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.10);
    z-index: 1001;
    width: 200px; /* Adjust width as needed */
    overflow: hidden;
}
  
.mobile-menu.active {
    display: block;
}
  
@media (max-width: 930px) {
    .menu-icon {
        display: block; /* Show menu icon on smaller screens */
    }
  
    .navbar-right {
        display: none; /* Hide desktop navbar links on smaller screens */
    }
}
  

/* Styling for the mobile menu links */
.mobile-menu a {
    font-family: 'Gilroy', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #333; /* adjust as per your color scheme */
}
  
.mobile-menu a:hover {
    background-color: #f2f2f2; /* adjust as per your color scheme */
}

  

/* link */
.link-container {
    display: block;
    text-align: center;
}
  
.my-link {
    color: var(--primary-color);
    font-family: 'Gilroy', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    display: inline-flex; /* Change to inline-flex so it only takes up as much space as its content */
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Ensure this is set to remove the default underline */
    padding: 1rem 0.25rem;
    gap: 8px; /* Adjust the space between the text and the icon */
    border-radius: 5px;
    transition: color 0.15s ease, background-color 0.15s ease;
    white-space: nowrap; /* Prevent the text from wrapping */
}
  
.my-link:hover,
.my-link:focus {
    color: var(--secondary-color);
}
  
.my-link::after {
    content: '';
    position: absolute;
    width: auto; /* Let it automatically adjust to the content size */
    height: 2px; /* Thickness of the underline */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); /* Center the pseudo-element */
    background-color: currentColor;
    transition: transform 0.3s, background-color 0.3s; /* Smooth transition for hover effect */
}
  
.my-link:hover::after {
    transform: translateX(-50%) scaleX(0); /* Hide the underline on hover */
}


/* buttons */

  .button-double-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .button-primary {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gilroy', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s; /* Optional for a smooth color transition effect */
  }
    
  
  
  .button-secondary {
    border: 2px solid var(--primary-color); /* Replace 'green' with any color code you prefer */
    background-color: transparent;
    color: var(--primary-color);
    padding: 0.5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gilroy', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s; /* Optional for a smooth color transition effect */
  }