/* fonts */
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* colors */
:root {
  --cambridge: #81B29A;
  --deft: #3D405B;
  --champagne: #ECD7C8;
  --cinnabar: #DE5B3E;
  --slate: #5F797B;
  --melon: #E8AB91;
  --sunset: #F2CC8F;
  --eggshell: #F4F1DE;
  --grey100: #F8F7FA;
  --grey200: #ECECEF;
  --grey300: #DEE2E6;
  --grey400: #CED4DA;
  --grey500: #C5C6CD;
  --grey600: #B6B3BC;
  --grey700: #999BA6;
  --grey800: #616972;
  --grey900: #353535;
  --red: #FF3B30;
  --orange: #FF9F0A;
  --mint: #00C7BE;
  --crimson: #A43821;
  --night: #25262E;
}

:root {
  --primary-color: var(--cambridge);
  --secondary-color: var(--deft);
  --accent-color: var(--champagne);
  --alert: var(--cinnabar);
  --info: var(--slate);
  --default: var(--grey900);
  --contrast-primary: var(--grey100);
  --contrast-secondary: var(--grey600)
}

.root {
  --bg-primary: white;
  --bg-secondary: var(--cambridge);
  --bg-transparent: transparent;
}


/* typography */
h1 {
  font-family: 'Gilroy', sans-serif;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-family: 'Gilroy', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-family: 'Gilroy', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
}

h6 {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.subtitle1 {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0;
}

.subtitle2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.body1-bold {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.body1 {
  font-family: 'Gilroy', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.body2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}


/* text alignment */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  padding: 0 10rem;
}


/* text colors */
.text-color-primary {
  color: var(--primary-color);
}

.text-color-secondary {
  color: var(--secondary-color);
}

.text-color-default {
  color: var(--grey900);
}

.text-color-contrast {
  color: white;
}

.text-color-tertiary {
  color: var(--grey600);
}


/* containers */
.hero-wrapper {
  align-items: center; /* Align vertically */
  justify-content: flex-start; 
  display: flex;
  background-color: transparent;
  background-size: cover;
  padding: 0 10vw 0 10vw;
  height: 100vh;
}

.hero-wrapper-gradient {
  align-items: center; /* Align vertically */
  justify-content: flex-start; 
  display: flex;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.0));
  background-size: cover;
  padding: 0 10vw 0 10vw;
  height: 100vh;
}

.hero-content {
  flex-direction: column;
}
/*
.hero-header {

}
*/
.content-wrapper {
  background-image: url("../public/background-texture-dots.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350vh;
  display: block;
}

.content {
  padding: 8rem 0;
}

.section {
  padding: 8vh 10vw;
}

.grid-x {
  display: flex;
}

.grid-y {
  display: flex;
  flex-direction: column;
}

.gap-default {
  gap: 8rem;
}

.gap-secondary {
  gap: 2rem;
}

.gap-vertical {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.padding-vertical {
  padding: 0.75rem 0;
}

.padding-horizontal {
  padding-right: 30rem;
}

.padding-horizontal2 {
  padding-right: 1rem;
}

.col {
  flex: 1;
}

.row {
  flex: 1;
}

.align-center {
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;}

.align-left {
  justify-content: flex-start;
}

.img50 {
  position: relative;
  flex: 1;
}

body, main {
  margin: 0;
  padding: 0;
}

